/*FONTS*/
/* outfit-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/outfit-v15-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/outfit-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/outfit-v15-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*Colours*/
:root {
  /*primary*/
  --blue-500: hsl(215, 51%, 70%);
  --cyan-400: hsl(178, 100%, 50%);

  /*color for hover state on image*/
  --cyan-hover:hsla(178, 100%, 50%, 0.427);

  /*neutral*/
  --blue-950-main-BG: hsl(217, 54%, 11%);
  --blue-900-card-BG: hsl(216, 50%, 16%);
  --blue-800-line:hsl(215, 32%, 27%);
  --white: hsl(0,0%, 100%);
}

/*CSS RESET*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--blue-950-main-BG);
}

/*MAIN*/
.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  color: var(--blue-500);
}

/*CARD*/
.nft-card {
  height: 34.03rem;
  background-color: var(--blue-900-card-BG);
  width: 20.3125rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 1.25rem;
  padding: 1.5625rem;
}

.image-container {
  height: 17.1875rem;
  width: 17.1875rem;
  /*
  set the container to relative so that 
  the overlay can be positioned inside of it
  */
  position: relative;
}

.nft-image {
  width: inherit;
  height: inherit;
  border-radius: 0.625rem;
}

/*
using absolute positioning and setting the inset to 0 so that
the view container can be able to fill the image container's width
and height
*/
.view-container {
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  width: inherit;
  height: inherit;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.view-icon {
  display: none;
  height: 2.5rem;
}

.image-container:hover > .view-container {
  background-color: var(--cyan-hover);
  cursor: pointer;
}
.image-container:hover > .view-container .view-icon {
  display: block;
}

.description-container {
  display: grid;
  grid-template-rows: 70.5px 54.5px;
}

.nft-title {
  margin-top: clamp(1.5625rem, 1.2412383178rem + 1.8691588785vw, 1.65rem);
  margin-bottom: clamp(1.09375rem, 0.7265937917rem + 2.1361815754vw, 1.19375rem);
  font-size: 1.375rem;
  color: var(--white);
  transition: color 0.3s ease;
  cursor: pointer;
}

.nft-title:hover {
  color: var(--cyan-400);
}

.nft-description {
  font-size: 1rem;
  font-size: clamp(1rem, 0.5410547397rem + 2.6702269693vw, 1.125rem);
  font-weight: 300;
  margin-bottom: clamp(0.53125rem, 0.189335781rem + 1.9893190921vw, 0.624375rem);
}

.price-container-for-nft {
  display: flex;
  align-items: center;
  height: 3.125rem;
  width: 16.875rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--blue-800-line);
}

.crypto-price {
  display: flex;
  gap: 0.3125rem;
}

.ethereum-icon {
  width: 0.78125rem;
}

.ethereum-price-paragraph {
  color: var(--cyan-400);
}

.time-left {
  display: flex;
  gap: 0.3125rem;
}

.creator-of-nft {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  width: 17.1875rem;
  padding-top: clamp(0.9375rem, -0.2098631509rem + 6.6755674232vw, 1.25rem);
}

.author-paragraph {
  font-weight: 300;
}

.creator {
  color: var(--white);
  transition: color 0.3s ease;
}

.creator:hover {
  color: var(--cyan-400);
  cursor: pointer;
}

.creator-image {
  width: 2.1875rem;
  border: 1px solid var(--white);
  border-radius: 100%;
}

/*RESPONSIVE DESIGN*/
@media (min-width: 40rem) {
  .nft-card {
    height: 37.18rem;
    width: 21.86rem;
  }
  .image-container {
    height: 18.68rem;
    width: 18.68rem;
  }
  .description-container {
    grid-template-rows: 4.59rem 3.5rem;
  }
  .price-container-for-nft {
    height: 4.06rem;
    width: 18.68rem;
  }
  .creator-of-nft {
    width: 18.68rem;
  }
}/*# sourceMappingURL=styles.css.map */